* {
	box-sizing: border-box;
}
.autocomplete {
	/*the container must be positioned relative:*/
	position: relative;
	display: inline-block;
}
input[type=text] {
	/*background-color: #f1f1f1;*/
	width: 100%;
}
.autocomplete-item {
	display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.autocomplete-items {
	position: absolute;
    z-index: 1000;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}
.autocomplete-items div {
	cursor: pointer;
	background-color: #fff;
}
.autocomplete-items div:hover {
	/*when hovering an item:*/
	background-color: #e9e9e9;
}
.autocomplete-item:active {
	color: #fff;
	text-decoration: none;
	background-color: #0d6efd!important;
}
.autocomplete-item:active strong {
	color: #fff!important;
}
.autocomplete-active {
	/*when navigating through the items using the arrow keys:*/
	background-color: DodgerBlue !important;
	color: #ffffff;
}